*{
    padding: 0;
    margin: 0;
}
.one{
    display: flex;
    align-items: center;
    height: 100px;
}
.one img{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
.one span{
    font-size: 25px;
    margin-right: auto;
    color: rgb(255, 0, 0);
}
.one1{
    margin-right: 15px;
}
.two{
    text-align: center;
    background-color: rgba(218, 218, 236, 0.486);
}
.two img{
    margin-top: 50px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.twotext1{
    letter-spacing: 5px;
    margin-top: 20px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}
.twotext2{
    margin-top: 20px;
    color: rgb(0, 0, 0);
    font-family:sans-serif;
    margin-bottom: 20px;
    font-size: 45px;
}
.twotext3{
    margin-top: 20px;
    color: rgb(68, 32, 32);
    font-family:sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}
.twobutton{
    font-size: 25px;
    height: 60px;
    width: 270px;
    border: none;
    border-radius: 30px;
    background-color: rgb(255, 153, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}
.find , .open, .reservations{
    text-align: center;
}
.find h1, .open h1, .reservations{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.find p, .open p, .reservations p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.find img, .open img, .reservations img{
    width: 60px;margin: 20px;
}
.four{
    text-align: center;
    background-color: rgb(222, 229, 235);
}
.four h3, .five h3{
    color: rgb(255, 102, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.four h1, .five h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.four p, .five p{
    font-family: 'Courier New', Courier, monospace;
}
.story1 img{
    width: 500px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.story2 img{
    width: 500px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.story3 img{
    width: 300px;
}
.story4 img{
    border-radius: 250px;
}
.five{
    text-align: center;   
}
.five p{
    font-family: cursive;
}
.fivea, .fiveb, .fivec, .fived{
    border-radius: 50px;
    height: 420px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: wheat;
    margin-bottom: 20px;
}
.fiveb, .fivec, .fived{
    height: 370px;
}
.fivec{
    height: 370px;
}
.pricecase{
    display: flex;
    justify-content: center;
}
.fivea img{
    width: 180px;
    margin: 20px;
}
.fiveb img{
    width: 200px;
    margin: 20px;
}
.fivec img, .fived img{
    width: 200px;
    margin: 20px;
}
.price{
    color: white;
    text-align: center;
    border-radius: 50px;
    width: 70px;
    height: 32px;
    background-color: rgb(24, 56, 24);
}
.six{
    text-align: center;
}
.six h2 ,.six p{
    text-align: left;
}
.six h3{
    color: rgb(247, 151, 9);
}
.six img{
    width: 450px;
}
.sixtext{
    font-family: fantasy;
}
.moneyimg{
    margin-top: 60px;
}
.moneyimg, .atm{
    display: flex;
    align-items: center;
}
.moneyimg img{
    width: 50px;
}
.atm img{
    margin-left: -10px;
    width: 80px;
}
.money, .atmtext{
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}
.atmtext{
    margin-left: 0;
}
.last{
    text-align: center;
    background-color: rgb(45, 77, 45);
}
.last h3{
    color: rgb(255, 102, 0);
}
input, textarea{
    margin: 5px;
    width: 45%;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    height: 40px;
    background-color: rgb(45, 77, 45);
}
input::placeholder, textarea::placeholder{
    color: white;
    font-size: larger;
}
.form1,.form2{
    width: 94%;
}
.form2{
    height: 100px;
}
.social_media_handles{
    display: flex;
    justify-content: center;
    align-items: center;
}
.facebook img{
    width: 60px;
}
.instagram img{
    width: 70px;
}
.youtube img{
    width: 70px;
}
.whatsapp img{
    margin-left: 5px;
    width: 55px;
}
.description{
    margin-top: 30px;
    color: rgb(212, 203, 203);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.last a{
    text-decoration: none;
    color: rgb(212, 203, 203);
}