#a {
    background-color: blue;
    color: black;
    text-align: center;
    font-size: 50px;
}
#b{
    background-color: red;
    font-size: 30ppx;
}
body {
    background-color: rgb(187, 76, 76);
    letter-spacing: 0.5rem;
}
/*.one{
    float: left;
    line-height: 1.5;
    overflow: hidden;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
}*/
.two{
    background-color: blue;
    float: right;
    text-transform: capitalize;
    text-decoration:underline;
    text-indent: 2px;
}
.three {
    padding: 10px;
    background-color: yellow;
    width: 33vh;
    text-align: center;
}
.four{
    border:6px dashed red;
    background-color: rgb(69, 255, 18);
    padding: 10px;
    text-align: center;
    margin: 10px 20px 40px 1px;
    border-color: black;
    border-bottom: 10px  outset rgb(2, 166, 65);
    border-bottom-style: dashed ;
    /* We also have border style,border width*/
}
.five {
    background-color: tomato;
    border-radius: 20px;
    padding: 30px;
    border: 4px solid navy;
}
.six{
    background-color: slategray;
    padding: 50px;
    border: 6px solid green;
    border-style:dotted;
    border-width: 10px;
    border-radius: 50%;
    margin-top: -34px;
}
.links{
    margin: 70px;
}
a{
    background-color: green;
    text-decoration: none;
    padding: 30px 40px;
    color: black;
    text-transform: uppercase;
    margin: 0 40px;
}
#seven{
    border: 2px solid black;
    outline-offset: -20px;
    outline:10px solid chartreuse;
}
#eight{
    outline-width: 0.2rem;
    outline-color: black;
    outline-style: solid;
    outline-offset: -10px;
}
*{
    border:2px solid red ;
}